body, html {
    height: 100%;
    background-color: lightblue;
}

footer {
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    width: 30%;
}

.navbar-brand img {
    height: 30px;
}

.badge {
    display: flex;
    font-size: 2rem;
    justify-content: flex-end;
}

.card {
    width: 17rem;
}