body, html {
    height: 100%;
    background-color: lightblue;
}

main {
    flex: 1;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 91vh;
}

footer {
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    width: 30%;
}

.navbar-brand img {
    height: 26px;
}

.badge {
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    font-weight: normal;
}

.card {
    min-height: 315px;
    max-height: 350px;
    width: 100%;
}

.card img {
    max-height: 150px;
    object-fit: cover;
}

.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

.card-text {
    max-height: 46px;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Número de líneas antes de truncar */
    -webkit-box-orient: vertical; /* Orientación del contenedor */
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-input {
    margin-left: 78px;
}
