body {
    background-color: pink;
}

main {
    height: 78vh;
}

footer {
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    width: 30%;
}

.navbar-brand img {
    width: 30%;
}

.badge {
    display: flex;
    font-size: 2rem;
    justify-content: flex-end;
}

.card {
	width: 17rem;
}